- Clean and transform the above dataset to add the following columns: start year, end year, director, actors.

- Your company wants to perform some analysis on a movies gross margin.  Please create a new csv that contains a subset of the original data where "Gross" is a known value, and all other numerical statistics are present.

- Create a visualization to show what (if any) correlation there is between rating and the length of the movie's description.
 
- Bonus: Do some analysis on the genre(s) of movies.  Create at least 5 questions like "What genres are the most profitable?", and write code to answer them.

In [134]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re

In [135]:
movies = pd.read_csv('movies.csv')

movies = pd.DataFrame(movies)
movies.columns = movies.columns.str.lower()
display(movies.head())
print(movies['year'].dtype)

,movies,year,genre,rating,one-line,stars,votes,runtime,gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

object

In [136]:
# create start year and end year columns
movies[['start year', 'end year']] = movies['year'].str.strip('()').str.split('–', expand=True)
movies['end year'].fillna(movies['start year'], inplace=True)
movies['end year'] = np.where(movies['end year'] == ' ', movies['start year'], movies['end year'])
movies['end year'].fillna(movies['start year'], inplace=True)

display(movies.head())

,movies,year,genre,rating,one-line,stars,votes,runtime,gross,start year,end year
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN,2021,2021
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN,2021,2021
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN,2010,2022
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN,2013,2013
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN,2021,2021

In [137]:
# create director and actors columns
movies['stars'] = movies['stars'].str.replace('\n', '')
movies['stars'] = movies['stars'].str.replace('|', '')

movies['director'] = movies['stars'].astype(str).str.extract(r'Director:(.*?)Stars:', flags=re.DOTALL)
movies['actors'] = movies['stars'].astype(str).str.extract(r'Stars:(.*)', flags=re.DOTALL)

display(movies[['stars']].head())
display(movies[['director', 'actors']].head())

                                               stars
0      Director:Peter Thorwarth     Stars:Peri Ba...
1                  Stars:Chris Wood, Sarah Michel...
2                  Stars:Andrew Lincoln, Norman R...
3                  Stars:Justin Roiland, Chris Pa...
4      Director:Matthias Schweighöfer     Stars:M...

,director,actors
0,Peter Thorwarth,"Peri Baumeister, Carl Anton Koch, Alexander Sc..."
1,NaN,"Chris Wood, Sarah Michelle Gellar, Lena Headey..."
2,NaN,"Andrew Lincoln, Norman Reedus, Melissa McBride..."
3,NaN,"Justin Roiland, Chris Parnell, Spencer Grammer..."
4,Matthias Schweighöfer,"Matthias Schweighöfer, Nathalie Emmanuel, Ruby..."

In [138]:
#dropping year and stars columns
movies.drop(columns=["year", "stars"], inplace=True)
movies.head()

,movies,genre,rating,one-line,votes,runtime,gross,start year,end year,director,actors
0,Blood Red Sky,"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,"21,062",121.0,NaN,2021,2021,Peter Thorwarth,"Peri Baumeister, Carl Anton Koch, Alexander Sc..."
1,Masters of the Universe: Revelation,"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"17,870",25.0,NaN,2021,2021,NaN,"Chris Wood, Sarah Michelle Gellar, Lena Headey..."
2,The Walking Dead,"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"885,805",44.0,NaN,2010,2022,NaN,"Andrew Lincoln, Norman Reedus, Melissa McBride..."
3,Rick and Morty,"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"414,849",23.0,NaN,2013,2013,NaN,"Justin Roiland, Chris Parnell, Spencer Grammer..."
4,Army of Thieves,"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",NaN,NaN,NaN,2021,2021,Matthias Schweighöfer,"Matthias Schweighöfer, Nathalie Emmanuel, Ruby..."

In [139]:
# removing uneccessary symbols
movies["genre"] = movies["genre"].str.strip('\n')
movies["one-line"] = movies["one-line"].str.strip('\n')
movies["start year"] = movies["start year"].str.strip('I) (')
movies["end year"] = movies["end year"].str.strip('I) (')
movies.head()

,movies,genre,rating,one-line,votes,runtime,gross,start year,end year,director,actors
0,Blood Red Sky,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,"21,062",121.0,NaN,2021,2021,Peter Thorwarth,"Peri Baumeister, Carl Anton Koch, Alexander Sc..."
1,Masters of the Universe: Revelation,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"17,870",25.0,NaN,2021,2021,NaN,"Chris Wood, Sarah Michelle Gellar, Lena Headey..."
2,The Walking Dead,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"885,805",44.0,NaN,2010,2022,NaN,"Andrew Lincoln, Norman Reedus, Melissa McBride..."
3,Rick and Morty,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"414,849",23.0,NaN,2013,2013,NaN,"Justin Roiland, Chris Parnell, Spencer Grammer..."
4,Army of Thieves,"Action, Crime, Horror",NaN,"A prequel, set before the events of Army of th...",NaN,NaN,NaN,2021,2021,Matthias Schweighöfer,"Matthias Schweighöfer, Nathalie Emmanuel, Ruby..."

In [140]:
# Your company wants to perform some analysis on a movies gross margin.  
# Please create a new csv that contains a subset of the original data where "Gross" is a known value, 
# and all other numerical statistics are present.
movies = movies.dropna(subset=["gross"])
movies["director"].fillna("NA", inplace=True)
movies.fillna(0, inplace=True)
movies.head(10)

,movies,genre,rating,one-line,votes,runtime,gross,start year,end year,director,actors
77,The Hitman's Bodyguard,"Action, Comedy, Crime",6.9,"The world's top bodyguard gets a new client, a...","205,979",118.0,$75.47M,2017,2017,Patrick Hughes,"Ryan Reynolds, Samuel L. Jackson, Gary Oldman,..."
85,Jurassic Park,"Action, Adventure, Sci-Fi",8.1,A pragmatic paleontologist visiting an almost ...,"897,444",127.0,$402.45M,1993,1993,Steven Spielberg,"Sam Neill, Laura Dern, Jeff Goldblum, Richard ..."
95,Don't Breathe,"Crime, Horror, Thriller",7.1,"Hoping to walk away with a massive fortune, a ...","237,601",88.0,$89.22M,2016,2016,Fede Alvarez,"Stephen Lang, Jane Levy, Dylan Minnette, Danie..."
111,The Lord of the Rings: The Fellowship of the Ring,"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compani...,"1,713,028",178.0,$315.54M,2001,2001,Peter Jackson,"Elijah Wood, Ian McKellen, Orlando Bloom, Sean..."
125,Escape Room,"Action, Adventure, Horror",6.4,Six strangers find themselves in a maze of dea...,"99,351",99.0,$57.01M,2019,2019,Adam Robitel,"Taylor Russell, Logan Miller, Jay Ellis, Tyler..."
128,Jaws,"Adventure, Thriller",8.0,When a killer shark unleashes chaos on a beach...,"558,731",124.0,$260.00M,1975,1975,Steven Spielberg,"Roy Scheider, Robert Shaw, Richard Dreyfuss, L..."
132,The Departed,"Crime, Drama, Thriller",8.5,An undercover cop and a mole in the police att...,"1,227,522",151.0,$132.38M,2006,2006,Martin Scorsese,"Leonardo DiCaprio, Matt Damon, Jack Nicholson,..."
143,Gone Girl,"Drama, Mystery, Thriller",8.1,With his wife's disappearance having become th...,"895,888",149.0,$167.77M,2014,2014,David Fincher,"Ben Affleck, Rosamund Pike, Neil Patrick Harri..."
144,Jumanji: Welcome to the Jungle,"Action, Adventure, Comedy",6.9,Four teenagers are sucked into a magical video...,"337,900",119.0,$404.52M,2017,2017,Jake Kasdan,"Dwayne Johnson, Karen Gillan, Kevin Hart, Jack..."
145,American Psycho,"Comedy, Crime, Drama",7.6,A wealthy New York City investment banking exe...,"517,014",101.0,$15.07M,2000,2000,Mary Harron,"Christian Bale, Justin Theroux, Josh Lucas, Bi..."

In [141]:
# checking for null values
null_columns = movies["runtime"].isnull().sum()
display(null_columns)

0